body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel {
  margin-right: auto;
  overflow: hidden;
  width: 80vw; 
}

.carousel::after {
  background: linear-gradient(rgba(220,220,220,0), rgba(0,0,0,0.9));  
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  /* margin-right: -4rem; */
  /* margin-left: -4rem; */
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  /* background-color: green; */
  color: #fff;
}

.indicators {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
}

.indicators>button {
  margin: 5px;
  background-color: hwb(207deg 82% 10%);
  /* width: 2rem; */
}

.indicators>button.active {
  background-color: green;
  color: #fff;
}

